.sidebar-wrapper {
  display: none !important;
}

@media (min-width: 1024px) {
  .sidebar-wrapper {
    display: block !important;
  }
}


.content-column {
  border-left: none;
}

@media (min-width: 1024px) {
  .content-column {
    border-left: 1px solid var(--bulma-border-weak);
  }
}
