---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cargando / Loading">
  <div
    class="is-flex is-justify-content-center is-align-items-center"
    style="height: 40vh;"
  >
    <div class="has-text-centered">
      <button class="button is-loading is-ghost is-large"></button>
      <p class="is-size-7 has-text-grey mt-3">Detectando idioma...</p>
    </div>
  </div>

  <script is:inline>
    // 1. Detectar idioma del navegador
    const navLang = navigator.language.toLowerCase();

    // 2. Definir destino (si es inglés va a /en, cualquier otra cosa a /es)
    const target = navLang.startsWith("en") ? "/en/" : "/es/";

    // 3. Redirigir
    window.location.replace(target);
  </script>
</Layout>
